USE [master]
GO
/****** Object:  Database [smart]    Script Date: 7/9/2019 11:04:23 AM ******/
CREATE DATABASE [smart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'smart', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\smart.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'smart_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\smart_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [smart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [smart]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 7/9/2019 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [uniqueidentifier] NOT NULL,
	[DeliveryDays] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[ContentType] [int] NOT NULL,
	[Order] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Course_Id] [uniqueidentifier] NOT NULL,
	[Teacher_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Class] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassAccess]    Script Date: 7/9/2019 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassAccess](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AccessDateTime] [datetime] NOT NULL,
	[Percentual] [int] NOT NULL,
	[WatchedSeconds] [decimal](18, 2) NOT NULL,
	[Class_Id] [uniqueidentifier] NOT NULL,
	[User_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.ClassAccess] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classroom]    Script Date: 7/9/2019 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classroom](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Classroom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassroomCourse]    Script Date: 7/9/2019 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassroomCourse](
	[CourseId] [uniqueidentifier] NOT NULL,
	[ClassroomId] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ClassroomCourse] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC,
	[ClassroomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/9/2019 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Subject_Id] [uniqueidentifier] NOT NULL,
	[TeacherInCharge_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KnowledgeArea]    Script Date: 7/9/2019 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KnowledgeArea](
	[Id] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KnowledgeArea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/9/2019 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[KnowledgeArea_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Subject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/9/2019 11:04:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Login] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Concept]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Concept]
AS
SELECT        dbo.KnowledgeArea.Id
FROM            dbo.KnowledgeArea INNER JOIN
                         dbo.Subject ON dbo.KnowledgeArea.Id = dbo.Subject.KnowledgeArea_Id INNER JOIN
                         dbo.Course ON dbo.Subject.Id = dbo.Course.Subject_Id INNER JOIN
                         dbo.ClassroomCourse ON dbo.Course.Id = dbo.ClassroomCourse.CourseId INNER JOIN
                         dbo.Class ON dbo.Course.Id = dbo.Class.Course_Id INNER JOIN
                         dbo.ClassAccess ON dbo.Class.Id = dbo.ClassAccess.Class_Id INNER JOIN
                         dbo.Classroom ON dbo.ClassroomCourse.ClassroomId = dbo.Classroom.Id INNER JOIN
                         dbo.[User] ON dbo.Course.TeacherInCharge_Id = dbo.[User].Id AND dbo.Class.Teacher_Id = dbo.[User].Id AND dbo.ClassAccess.User_Id = dbo.[User].Id

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[Id] [uniqueidentifier] NOT NULL,
	[Text] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Answer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessment]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment](
	[Id] [uniqueidentifier] NOT NULL,
	[MinimumScore] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Course_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Assessment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassDeliveryPlan]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassDeliveryPlan](
	[ClassId] [uniqueidentifier] NOT NULL,
	[DeliveryPlanId] [bigint] NOT NULL,
	[DeliveryDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ClassDeliveryPlan] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC,
	[DeliveryPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[CommentText] [nvarchar](max) NULL,
	[User_Id] [uniqueidentifier] NULL,
	[Class_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryPlan]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryPlan](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[Concluded] [bit] NOT NULL,
	[Classroom_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.DeliveryPlan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[PhysicalPath] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Course_Id] [uniqueidentifier] NULL,
	[Class_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.File] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileAccess]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileAccess](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AccessDateTime] [datetime] NOT NULL,
	[File_Id] [uniqueidentifier] NOT NULL,
	[User_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.FileAccess] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OldState] [nvarchar](max) NULL,
	[NewState] [nvarchar](max) NULL,
	[DateTime] [datetime] NOT NULL,
	[EntityId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[User_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notice]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notice](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[DateTime] [datetime] NOT NULL,
	[DeliveryPlan_Id] [bigint] NULL,
	[User_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Notice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameter]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameter](
	[Id] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Parameter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionId] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Score] [int] NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[RightAnswer_Id] [uniqueidentifier] NULL,
	[Assessment_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Question] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionAnswer]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionAnswer](
	[Id] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Answer_Id] [uniqueidentifier] NULL,
	[Question_QuestionId] [uniqueidentifier] NULL,
	[MultipleChoiceQuestion_QuestionId] [uniqueidentifier] NULL,
	[ReorderingQuestion_QuestionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.QuestionAnswer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentDeliveryPlan]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentDeliveryPlan](
	[StudentId] [uniqueidentifier] NOT NULL,
	[DeliveryPlanId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.StudentDeliveryPlan] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[DeliveryPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotice]    Script Date: 7/9/2019 11:04:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotice](
	[UserId] [uniqueidentifier] NOT NULL,
	[NoticeId] [bigint] NOT NULL,
	[VisualizationDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.UserNotice] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[NoticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Class] ([Id], [DeliveryDays], [Name], [Content], [ContentType], [Order], [Active], [CreatedAt], [Course_Id], [Teacher_Id]) VALUES (N'd3fc8ba4-93ea-49e1-81fa-0782c0c1f55e', 10, N'Math Class', N'All of silabs', 0, 1, 1, CAST(N'2019-07-09T10:22:31.090' AS DateTime), N'1b73bf25-43d2-4321-b4de-23957b56b875', N'de69b423-26b5-46a0-b048-4e220c7921f9')
INSERT [dbo].[Classroom] ([Id], [Name], [Active], [CreatedAt]) VALUES (N'810bf6d2-598c-49c1-8b35-08bc5c11aaf5', N'Class A', 1, CAST(N'2019-07-09T09:57:48.787' AS DateTime))
INSERT [dbo].[Classroom] ([Id], [Name], [Active], [CreatedAt]) VALUES (N'46f1ae3f-3ea3-47d2-99b8-ed0529e56551', N'Rajab Tayib Ardogan', 1, CAST(N'2019-07-08T19:32:13.013' AS DateTime))
INSERT [dbo].[ClassroomCourse] ([CourseId], [ClassroomId], [Order]) VALUES (N'429883f2-39ee-4fcd-b3af-36d79e629b30', N'810bf6d2-598c-49c1-8b35-08bc5c11aaf5', 1)
INSERT [dbo].[ClassroomCourse] ([CourseId], [ClassroomId], [Order]) VALUES (N'429883f2-39ee-4fcd-b3af-36d79e629b30', N'46f1ae3f-3ea3-47d2-99b8-ed0529e56551', 1)
INSERT [dbo].[Course] ([Id], [Order], [Image], [Name], [Active], [CreatedAt], [Subject_Id], [TeacherInCharge_Id]) VALUES (N'1b73bf25-43d2-4321-b4de-23957b56b875', 1, N'images_56789d6d-a812-4cce-9b68-5913cc93f917.jpeg', N'Common Math', 1, CAST(N'2019-07-08T17:08:11.070' AS DateTime), N'f0a83b58-208e-44a9-84a1-809ef38bd10a', N'de69b423-26b5-46a0-b048-4e220c7921f9')
INSERT [dbo].[Course] ([Id], [Order], [Image], [Name], [Active], [CreatedAt], [Subject_Id], [TeacherInCharge_Id]) VALUES (N'429883f2-39ee-4fcd-b3af-36d79e629b30', 2, N'images_56789d6d-a812-4cce-9b68-5913cc93f917.jpeg', N'Geometry', 1, CAST(N'2019-07-08T19:24:42.027' AS DateTime), N'f0a83b58-208e-44a9-84a1-809ef38bd10a', N'de69b423-26b5-46a0-b048-4e220c7921f9')
SET IDENTITY_INSERT [dbo].[DeliveryPlan] ON 

INSERT [dbo].[DeliveryPlan] ([Id], [StartDate], [Concluded], [Classroom_Id]) VALUES (1, CAST(N'2019-07-09T00:00:00.000' AS DateTime), 1, N'810bf6d2-598c-49c1-8b35-08bc5c11aaf5')
SET IDENTITY_INSERT [dbo].[DeliveryPlan] OFF
INSERT [dbo].[KnowledgeArea] ([Id], [Order], [Name], [Active], [CreatedAt]) VALUES (N'3ddabd7c-5956-4103-aae1-559f46ac4a34', 1, N'Master', 1, CAST(N'2019-07-08T15:57:55.637' AS DateTime))
SET IDENTITY_INSERT [dbo].[Log] ON 

SET IDENTITY_INSERT [dbo].[Log] OFF
SET IDENTITY_INSERT [dbo].[Notice] ON 

INSERT [dbo].[Notice] ([Id], [Text], [DateTime], [DeliveryPlan_Id], [User_Id]) VALUES (7, N'Welcome to Your Company Training! Have a productive study!', CAST(N'2019-07-09T10:14:12.543' AS DateTime), NULL, N'cac75706-7ed1-477b-9258-ce022db38ec1')
INSERT [dbo].[Notice] ([Id], [Text], [DateTime], [DeliveryPlan_Id], [User_Id]) VALUES (8, N'Welcome to Your Company Training! Have a productive study!', CAST(N'2019-07-09T10:18:33.080' AS DateTime), NULL, N'aeca3948-2dfa-4c97-96f8-ea2781dad2b8')
SET IDENTITY_INSERT [dbo].[Notice] OFF
INSERT [dbo].[Parameter] ([Id], [Key], [Value], [Active], [CreatedAt]) VALUES (N'8df9d49f-5e26-425b-a2f7-35a5be47f66c', N'AppName', N'Your Company Training', 1, CAST(N'2019-07-08T12:10:47.963' AS DateTime))
INSERT [dbo].[Parameter] ([Id], [Key], [Value], [Active], [CreatedAt]) VALUES (N'639e86a8-9cc2-476b-ad7c-489a16d17904', N'SmtpPassword', N'', 1, CAST(N'2019-07-08T12:10:47.963' AS DateTime))
INSERT [dbo].[Parameter] ([Id], [Key], [Value], [Active], [CreatedAt]) VALUES (N'1d142a7c-a880-4c41-a1ed-49b51c878101', N'TalkToUsReceiverName', N'Raphael Carubbi Neto', 1, CAST(N'2019-07-08T12:10:47.963' AS DateTime))
INSERT [dbo].[StudentDeliveryPlan] ([StudentId], [DeliveryPlanId]) VALUES (N'cac75706-7ed1-477b-9258-ce022db38ec1', 1)
INSERT [dbo].[StudentDeliveryPlan] ([StudentId], [DeliveryPlanId]) VALUES (N'aeca3948-2dfa-4c97-96f8-ea2781dad2b8', 1)
INSERT [dbo].[Subject] ([Id], [Order], [Name], [Active], [CreatedAt], [KnowledgeArea_Id]) VALUES (N'f0a83b58-208e-44a9-84a1-809ef38bd10a', 1, N'Math', 1, CAST(N'2019-07-08T16:00:14.617' AS DateTime), N'3ddabd7c-5956-4103-aae1-559f46ac4a34')
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [Email], [Active], [CreatedAt], [Discriminator]) VALUES (N'ad47bdbd-09d2-42b4-ac34-1f01ea60e573', N'Daemon User', N'delivery.agent@yourcompany.com', N'ulUqPDAElCiWMKLWREHrPQ==', N'delivery.agent@yourcompany.com', 1, CAST(N'2019-07-08T12:10:47.953' AS DateTime), N'Admin')
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [Email], [Active], [CreatedAt], [Discriminator]) VALUES (N'de69b423-26b5-46a0-b048-4e220c7921f9', N'Rajab Tayib Ardogan', N'vaqef.payfoon@outlook.com', N'ulUqPDAElCiWMKLWREHrPQ==', N'vaqef.payfoon@outlook.com', 1, CAST(N'2019-07-08T16:08:23.937' AS DateTime), N'Teacher')
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [Email], [Active], [CreatedAt], [Discriminator]) VALUES (N'cac75706-7ed1-477b-9258-ce022db38ec1', N'Student A', N'vaqef.payfoon@gmail.com', N'ag+rlHW5tNH04UH/gqQRGQ==', N'vaqef.payfoon@gmail.com', 1, CAST(N'2019-07-09T10:14:12.543' AS DateTime), N'Student')
/****** Object:  Index [IX_Course_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Course_Id] ON [dbo].[Assessment]
(
	[Course_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Course_Id] ON [dbo].[Class]
(
	[Course_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Teacher_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Teacher_Id] ON [dbo].[Class]
(
	[Teacher_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Class_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Class_Id] ON [dbo].[ClassAccess]
(
	[Class_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[ClassAccess]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassId]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClassId] ON [dbo].[ClassDeliveryPlan]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeliveryPlanId]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_DeliveryPlanId] ON [dbo].[ClassDeliveryPlan]
(
	[DeliveryPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassroomId]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClassroomId] ON [dbo].[ClassroomCourse]
(
	[ClassroomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[ClassroomCourse]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Class_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Class_Id] ON [dbo].[Comment]
(
	[Class_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Comment]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subject_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Subject_Id] ON [dbo].[Course]
(
	[Subject_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherInCharge_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherInCharge_Id] ON [dbo].[Course]
(
	[TeacherInCharge_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Classroom_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Classroom_Id] ON [dbo].[DeliveryPlan]
(
	[Classroom_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Class_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Class_Id] ON [dbo].[File]
(
	[Class_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Course_Id] ON [dbo].[File]
(
	[Course_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_File_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_File_Id] ON [dbo].[FileAccess]
(
	[File_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[FileAccess]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Log]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeliveryPlan_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_DeliveryPlan_Id] ON [dbo].[Notice]
(
	[DeliveryPlan_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Notice]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assessment_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Assessment_Id] ON [dbo].[Question]
(
	[Assessment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RightAnswer_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_RightAnswer_Id] ON [dbo].[Question]
(
	[RightAnswer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Answer_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Answer_Id] ON [dbo].[QuestionAnswer]
(
	[Answer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MultipleChoiceQuestion_QuestionId]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_MultipleChoiceQuestion_QuestionId] ON [dbo].[QuestionAnswer]
(
	[MultipleChoiceQuestion_QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Question_QuestionId]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_Question_QuestionId] ON [dbo].[QuestionAnswer]
(
	[Question_QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReorderingQuestion_QuestionId]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReorderingQuestion_QuestionId] ON [dbo].[QuestionAnswer]
(
	[ReorderingQuestion_QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeliveryPlanId]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_DeliveryPlanId] ON [dbo].[StudentDeliveryPlan]
(
	[DeliveryPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[StudentDeliveryPlan]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KnowledgeArea_Id]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_KnowledgeArea_Id] ON [dbo].[Subject]
(
	[KnowledgeArea_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NoticeId]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_NoticeId] ON [dbo].[UserNotice]
(
	[NoticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 7/9/2019 11:04:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserNotice]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Assessment_dbo.Course_Course_Id] FOREIGN KEY([Course_Id])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[Assessment] CHECK CONSTRAINT [FK_dbo.Assessment_dbo.Course_Course_Id]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Class_dbo.Course_Course_Id] FOREIGN KEY([Course_Id])
REFERENCES [dbo].[Course] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_dbo.Class_dbo.Course_Course_Id]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Class_dbo.User_Teacher_Id] FOREIGN KEY([Teacher_Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_dbo.Class_dbo.User_Teacher_Id]
GO
ALTER TABLE [dbo].[ClassAccess]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassAccess_dbo.Class_Class_Id] FOREIGN KEY([Class_Id])
REFERENCES [dbo].[Class] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassAccess] CHECK CONSTRAINT [FK_dbo.ClassAccess_dbo.Class_Class_Id]
GO
ALTER TABLE [dbo].[ClassAccess]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassAccess_dbo.User_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassAccess] CHECK CONSTRAINT [FK_dbo.ClassAccess_dbo.User_User_Id]
GO
ALTER TABLE [dbo].[ClassDeliveryPlan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassDeliveryPlan_dbo.Class_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassDeliveryPlan] CHECK CONSTRAINT [FK_dbo.ClassDeliveryPlan_dbo.Class_ClassId]
GO
ALTER TABLE [dbo].[ClassDeliveryPlan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassDeliveryPlan_dbo.DeliveryPlan_DeliveryPlanId] FOREIGN KEY([DeliveryPlanId])
REFERENCES [dbo].[DeliveryPlan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassDeliveryPlan] CHECK CONSTRAINT [FK_dbo.ClassDeliveryPlan_dbo.DeliveryPlan_DeliveryPlanId]
GO
ALTER TABLE [dbo].[ClassroomCourse]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassroomCourse_dbo.Classroom_ClassroomId] FOREIGN KEY([ClassroomId])
REFERENCES [dbo].[Classroom] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassroomCourse] CHECK CONSTRAINT [FK_dbo.ClassroomCourse_dbo.Classroom_ClassroomId]
GO
ALTER TABLE [dbo].[ClassroomCourse]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassroomCourse_dbo.Course_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassroomCourse] CHECK CONSTRAINT [FK_dbo.ClassroomCourse_dbo.Course_CourseId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Class_Class_Id] FOREIGN KEY([Class_Id])
REFERENCES [dbo].[Class] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Class_Class_Id]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.User_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.User_User_Id]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Course_dbo.Subject_Subject_Id] FOREIGN KEY([Subject_Id])
REFERENCES [dbo].[Subject] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_dbo.Course_dbo.Subject_Subject_Id]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Course_dbo.User_TeacherInCharge_Id] FOREIGN KEY([TeacherInCharge_Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_dbo.Course_dbo.User_TeacherInCharge_Id]
GO
ALTER TABLE [dbo].[DeliveryPlan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DeliveryPlan_dbo.Classroom_Classroom_Id] FOREIGN KEY([Classroom_Id])
REFERENCES [dbo].[Classroom] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeliveryPlan] CHECK CONSTRAINT [FK_dbo.DeliveryPlan_dbo.Classroom_Classroom_Id]
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_dbo.File_dbo.Class_Class_Id] FOREIGN KEY([Class_Id])
REFERENCES [dbo].[Class] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_dbo.File_dbo.Class_Class_Id]
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_dbo.File_dbo.Course_Course_Id] FOREIGN KEY([Course_Id])
REFERENCES [dbo].[Course] ([Id])
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_dbo.File_dbo.Course_Course_Id]
GO
ALTER TABLE [dbo].[FileAccess]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FileAccess_dbo.File_File_Id] FOREIGN KEY([File_Id])
REFERENCES [dbo].[File] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileAccess] CHECK CONSTRAINT [FK_dbo.FileAccess_dbo.File_File_Id]
GO
ALTER TABLE [dbo].[FileAccess]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FileAccess_dbo.User_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileAccess] CHECK CONSTRAINT [FK_dbo.FileAccess_dbo.User_User_Id]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Log_dbo.User_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_dbo.Log_dbo.User_User_Id]
GO
ALTER TABLE [dbo].[Notice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notice_dbo.DeliveryPlan_DeliveryPlan_Id] FOREIGN KEY([DeliveryPlan_Id])
REFERENCES [dbo].[DeliveryPlan] ([Id])
GO
ALTER TABLE [dbo].[Notice] CHECK CONSTRAINT [FK_dbo.Notice_dbo.DeliveryPlan_DeliveryPlan_Id]
GO
ALTER TABLE [dbo].[Notice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notice_dbo.User_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Notice] CHECK CONSTRAINT [FK_dbo.Notice_dbo.User_User_Id]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Question_dbo.Assessment_Assessment_Id] FOREIGN KEY([Assessment_Id])
REFERENCES [dbo].[Assessment] ([Id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_dbo.Question_dbo.Assessment_Assessment_Id]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Question_dbo.QuestionAnswer_RightAnswer_Id] FOREIGN KEY([RightAnswer_Id])
REFERENCES [dbo].[QuestionAnswer] ([Id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_dbo.Question_dbo.QuestionAnswer_RightAnswer_Id]
GO
ALTER TABLE [dbo].[QuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Answer_Answer_Id] FOREIGN KEY([Answer_Id])
REFERENCES [dbo].[Answer] ([Id])
GO
ALTER TABLE [dbo].[QuestionAnswer] CHECK CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Answer_Answer_Id]
GO
ALTER TABLE [dbo].[QuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Question_MultipleChoiceQuestion_QuestionId] FOREIGN KEY([MultipleChoiceQuestion_QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[QuestionAnswer] CHECK CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Question_MultipleChoiceQuestion_QuestionId]
GO
ALTER TABLE [dbo].[QuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Question_Question_QuestionId] FOREIGN KEY([Question_QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[QuestionAnswer] CHECK CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Question_Question_QuestionId]
GO
ALTER TABLE [dbo].[QuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Question_ReorderingQuestion_QuestionId] FOREIGN KEY([ReorderingQuestion_QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[QuestionAnswer] CHECK CONSTRAINT [FK_dbo.QuestionAnswer_dbo.Question_ReorderingQuestion_QuestionId]
GO
ALTER TABLE [dbo].[StudentDeliveryPlan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentDeliveryPlan_dbo.DeliveryPlan_DeliveryPlanId] FOREIGN KEY([DeliveryPlanId])
REFERENCES [dbo].[DeliveryPlan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentDeliveryPlan] CHECK CONSTRAINT [FK_dbo.StudentDeliveryPlan_dbo.DeliveryPlan_DeliveryPlanId]
GO
ALTER TABLE [dbo].[StudentDeliveryPlan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentDeliveryPlan_dbo.User_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentDeliveryPlan] CHECK CONSTRAINT [FK_dbo.StudentDeliveryPlan_dbo.User_StudentId]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subject_dbo.KnowledgeArea_KnowledgeArea_Id] FOREIGN KEY([KnowledgeArea_Id])
REFERENCES [dbo].[KnowledgeArea] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_dbo.Subject_dbo.KnowledgeArea_KnowledgeArea_Id]
GO
ALTER TABLE [dbo].[UserNotice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserNotice_dbo.Notice_NoticeId] FOREIGN KEY([NoticeId])
REFERENCES [dbo].[Notice] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserNotice] CHECK CONSTRAINT [FK_dbo.UserNotice_dbo.Notice_NoticeId]
GO
ALTER TABLE [dbo].[UserNotice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserNotice_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserNotice] CHECK CONSTRAINT [FK_dbo.UserNotice_dbo.User_UserId]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[65] 2[27] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 2
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "KnowledgeArea"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Subject"
            Begin Extent = 
               Top = 5
               Left = 228
               Bottom = 135
               Right = 415
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Course"
            Begin Extent = 
               Top = 5
               Left = 625
               Bottom = 135
               Right = 819
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "ClassroomCourse"
            Begin Extent = 
               Top = 251
               Left = 530
               Bottom = 364
               Right = 700
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Class"
            Begin Extent = 
               Top = 217
               Left = 275
               Bottom = 347
               Right = 445
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "ClassAccess"
            Begin Extent = 
               Top = 173
               Left = 23
               Bottom = 303
               Right = 203
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Classroom"
            Begin Extent = 
               Top = 136
               Left = 774
               Bottom = 290
               Right = 944
            End
            Disp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Concept'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'layFlags = 280
            TopColumn = 0
         End
         Begin Table = "User"
            Begin Extent = 
               Top = 162
               Left = 357
               Bottom = 292
               Right = 527
            End
            DisplayFlags = 344
            TopColumn = 4
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      PaneHidden = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Concept'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Concept'
GO
USE [master]
GO
